* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    padding: 5px;
}


.container {
    background-color: coral;
    height: 500px;
    min-width: 250px;
    max-width: 375px;
    margin: 20px auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    font-family: 'poppins', sans-serif;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 0px 20px #646464;
}

.container h1 {
    margin: 10px auto;
    text-align: center;
    color: whitesmoke;

}

#bill-container {
    background-color: whitesmoke;
    /* height: 40%; */
    border-radius: 15px;
    margin: 10px 0;
    padding: 15px;
}

#split-container {
    background-color: whitesmoke;
    /* height: 30%; */
    border-radius: 15px;
    margin: 10px 0;
    padding: 15px;
}



#bill {
    display: flex;
    justify-content: space-between;
}

#bill-input {
    border-radius: 5px;
    border: 2px solid coral;
    padding: 0px 5px;
    outline: none;
    width: 80%;
}

#tip-show {
    display: flex;
    justify-content: space-between;
}

#tip-slider {
    width: 100%;

}

#tip-amount {
    display: flex;
    justify-content: space-between;
}


#line {
    background-color: black;
    height: 1px;

}

#total-amout {
    display: flex;
    justify-content: space-between;
}

.bill-items {
    margin: 10px 0;
}

.split-items {
    margin: 8px 0;

}

#split-label {
    display: flex;
    justify-content: space-between;
}

#split-slider {
    width: 100%;
}

#bill-each {
    display: flex;
    justify-content: space-between;
}

#tip-each {
    display: flex;
    justify-content: space-between;
}

/* @media screen and (max-width:400px){
    .container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
} */